body {
  --app-bg: #eee;
  --control-border-c: #aaa;
  --control-bg: #fff;
  --default-text-c: #333;
  --standard-control-height: 30px;

  background-color: var(--app-bg);
  color: var(--default-text-c);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  color: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

.popup-container {
  width: 30em;
  display: grid;
  grid-auto-rows: auto;
}

hr {
  border-width: 0;
  margin: 4px 0;
}

.label,
label {
  margin-bottom: 4px;
  font-weight: 600;
}

output,
input,
textarea {
  border: 1px solid var(--control-border-c);
  border-radius: 4px;
  padding: 4px 8px;
  resize: none;
  font-size: 14px;
  line-height: 20px;
}
textarea[readonly] {
  background-color: transparent;
}

output {
  background-color: transparent;
}

button {
  height: var(--standard-control-height);
  background-color: var(--control-bg);
  border: 1px solid var(--control-border-c);
}

.added-tags {
  padding-bottom: 4px;
  margin-bottom: -2px;
  width: 100%;
}

.added-tag {
  border-radius: 15px;
  margin: 0 0 4px 0;
  padding: 0 8px;
}

input[name='tag'] {
  border-radius: 4px 0 0 4px;
  width: 10rem;
  height: var(--standard-control-height);
}
button.combo-right {
  border-radius: 0 4px 4px 0;
  border-left-width: 0;
}

.add-tag {
  display: flex;
  flex-wrap: wrap;
}

.actions {
  margin-top: 8px;

  display: grid;
}

.field {
  display: grid;
  grid-template:
    'label action' auto
    'input input' auto / 1fr auto;
  gap: 4px;
}

.field__label {
  grid-area: label;
}

.field__input {
  grid-area: input;
}
