body {
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

.popup-container {
  width: 30em;
  display: grid;
  grid-auto-rows: auto;
}

hr {
  border-width: 0;
  margin: 4px 0;
}

.label,
label {
  margin-bottom: 4px;
  font-weight: 600;
}

output,
input,
textarea {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 4px 8px;
  resize: none;
  font-size: 14px;
  line-height: 20px;
}
textarea[readonly] {
  background-color: transparent;
}

output {
  background-color: transparent;
}

button {
  height: 30px;
  background-color: white;
  border: 1px solid #aaa;
}

.added-tags {
  padding-bottom: 4px;
  margin-bottom: -2px;
}

.added-tag {
  border-radius: 15px;
  margin: 2px;
  padding: 0 8px;
}

input[name='tag'] {
  border-radius: 4px 0 0 4px;
  width: 10rem;
  border-right-width: 0;
}
button.combo-right {
  border-radius: 0 4px 4px 0;
}

.add-tag {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-self: start;
}

.copy {
  margin-top: 16px;
}
