body {
  --app-bg: #eee;
  --control-border-c: #ccc;
  --control-bg: #fff;
  --default-text-c: #333;
  --standard-control-height: 30px;
  --standard-border-radius: 4px;

  background-color: var(--app-bg);
  color: var(--default-text-c);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  color: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

.popup-container {
  width: 30em;
  display: grid;
  grid-auto-rows: auto;
}

hr {
  border-width: 0;
  margin: 4px 0;
}

label {
  font-weight: 600;
}

output,
input,
textarea {
  border: 1px solid var(--control-border-c);
  border-radius: var(--standard-border-radius);
  padding: 4px 8px;
  resize: none;
  font-size: 14px;
  line-height: 20px;
}
textarea[readonly] {
  background-color: transparent;
}
input {
  height: var(--standard-control-height);
}
input.as-partial-l {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button {
  height: var(--standard-control-height);
  background-color: var(--control-bg);
  border: 1px solid var(--control-border-c);
  border-radius: var(--standard-border-radius);
}
button.as-partial-r {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.added-tags {
  width: 100%;
}

.added-tag {
  border-radius: calc(var(--standard-control-height) / 2);
  height: calc(var(--standard-control-height) - 4px);
  margin: 0 2px 4px 0;
  padding: 0 8px;
}

input[name='tag'] {
  width: 10rem;
}

.add-tag {
  display: flex;
  flex-wrap: wrap;
}

.field {
  display: grid;
  grid-template:
    'label action' auto
    'input input' auto / 1fr auto;
  gap: 4px;
}

.field__label {
  grid-area: label;
}

.field__action {
  grid-area: action;
}

.field__input {
  grid-area: input;
}
