body {
  --app-bg: #eee;
  --control-border-c: #ccc;
  --control-bg: #fff;
  --control-bg-hover: #f7f7f7;
  --default-text-c: #333;
  --secondary-text-c: #666;
  --standard-control-height: 30px;
  --standard-border-radius: 4px;
  --label-font-size: 12px;
  --label-font-weight: 600;

  background-color: var(--app-bg);
  color: var(--default-text-c);
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  color: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

.popup-container {
  width: 30em;
  display: grid;
  grid-auto-rows: auto;
}

hr {
  border-width: 0;
  margin: 4px 0;
}

label {
  font-weight: var(--label-font-weight);
  font-size: var(--label-font-size);
}

output,
input,
textarea {
  border: 1px solid var(--control-border-c);
  border-radius: var(--standard-border-radius);
  padding: 4px 8px;
  resize: none;
  font-size: 14px;
  line-height: 20px;
}
textarea[readonly] {
  background-color: transparent;
}
input {
  height: var(--standard-control-height);
}
input.as-partial-l {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button,
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--standard-control-height);
  font-weight: 600;
  background-color: var(--control-bg);
  border: 1px solid var(--control-border-c);
  border-radius: var(--standard-border-radius);
  text-decoration: none;
}
.button:hover,
button:hover {
  background-color: var(--control-bg-hover);
}

button.as-partial-r {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}
button.as-label-action {
  border: none;
  padding: 0;
  height: auto;
  font-weight: var(--label-font-weight);
  font-size: var(--label-font-size);
  background-color: transparent;
}

.added-tags {
  width: 100%;
}

.added-tag {
  border-radius: calc(var(--standard-control-height) / 2);
  height: calc(var(--standard-control-height) - 4px);
  margin: 0 2px 4px 0;
  padding: 0 8px;
}

input[name='tag'] {
  width: 10rem;
}

.add-tag {
  display: flex;
  flex-wrap: wrap;
}

.dots {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, 8px);
  grid-auto-flow: column;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: white;
}

.dot.selected {
  background-color: var(--secondary-text-c);
}

.field {
  display: grid;
  grid-template:
    'label action' auto
    'input input' auto / 1fr auto;
  gap: 4px;
}

.field__label {
  grid-area: label;
}

.field__action {
  grid-area: action;
}

.field__input {
  grid-area: input;
}

.actions {
  cursor: default;
  display: grid;
  grid-template-columns: 1fr 40px 40px;
  grid-gap: 4px;
}
