body {
  --app-bg: #eee;
  --control-border-c: #ccc;
  --control-bg: #fff;
  --control-bg-hover: #f7f7f7;
  --default-text-c: #333;
  --secondary-text-c: #666;
  --standard-control-height: 30px;
  --standard-border-radius: 4px;
  --label-font-size: 12px;
  --label-font-weight: 600;

  background-color: var(--app-bg);
  color: var(--default-text-c);
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  color: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

.popup-container {
  width: 30em;
  display: grid;
  grid-auto-rows: auto;
}

hr {
  border-width: 0;
  margin: 4px 0;
}

label {
  font-weight: var(--label-font-weight);
  font-size: var(--label-font-size);
}

output,
input,
textarea {
  border: 1px solid var(--control-border-c);
  border-radius: var(--standard-border-radius);
  padding: 4px 8px;
  resize: none;
  font-size: 14px;
  line-height: 20px;
}
textarea[readonly] {
  background-color: transparent;
}
input {
  height: var(--standard-control-height);
}
input.as-partial-l {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button,
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--standard-control-height);
  font-size: 14px;
  font-weight: 600;
  background-color: var(--control-bg);
  border: 1px solid var(--control-border-c);
  border-radius: var(--standard-border-radius);
  text-decoration: none;
}
.button:hover,
button:hover {
  background-color: var(--control-bg-hover);
}
.button[hidden],
button[hidden] {
  display: none;
}

button.as-partial-r {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.added-tags {
  width: 100%;
}

.added-tag {
  border-radius: calc(var(--standard-control-height) / 2);
  height: calc(var(--standard-control-height) - 4px);
  margin: 0 2px 4px 0;
  padding: 0 8px;
}

input[name="tag"] {
  width: 10rem;
}

.add-tag {
  display: flex;
  flex-wrap: wrap;
}

.field {
  display: grid;
  grid-template:
    "label action" auto
    "input input" auto / 1fr auto;
  gap: 4px;
}

.field__label {
  grid-area: label;
}

.field__action {
  grid-area: action;
  font-size: var(--label-font-size);
}

.field__input {
  grid-area: input;
}

.actions {
  cursor: default;
  display: grid;
  grid-template-columns: 1fr 1fr 40px;
  grid-gap: 4px;
}

.actions.has-error {
  grid-template-columns: 1fr;
}

.open-options:not(.has-error) .open-options__show-when-error {
  display: none;
}
.open-options.has-error .open-options__show-when-valid {
  display: none;
}

/** Specific to options page */
.options-container {
  margin: auto;
  max-width: 64em;
  display: grid;
  grid-auto-rows: auto;
}

/** 
 * https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/
 */
.js-textarea-fit-container {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.js-textarea-fit-container::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.js-textarea-fit-container > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.js-textarea-fit-container > textarea,
.js-textarea-fit-container::after {
  /* Identical styling required!! */
  border: 1px solid var(--control-border-c);
  border-radius: var(--standard-border-radius);
  padding: 4px 8px;
  resize: none;
  font-size: 14px;
  line-height: 20px;

  overflow-wrap: anywhere; /* Not supported in safari but the extension is not available in safari. */

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

/* utils */
[data-show]:not([data-show-active]) {
  display: none;
}

.trouble-shooting-title {
  font-size: 14px;
  font-weight: 600;
}

.trouble-shooting-list {
  margin-top: 8px;
  font-size: 14px;
  padding-left: 24px;
}
